@import "vars";

/*==========  Desktop First  ==========*/

@include media-breakpoint-down(xl){
}
@include media-breakpoint-down(lg){
}
@include media-breakpoint-down(md){
    .navigation {
        .logo-desktop{
            display: none;
        }
        #menu{
            display: none;
        }
    }
    .slicknav_menu{
        display: block;
    }
}
@include media-breakpoint-down(sm){
}
@include media-breakpoint-down(xs){
}


/*==========  Mobile First  ==========*/

@include media-breakpoint-up(xs){
}
@include media-breakpoint-up(sm){
}
@include media-breakpoint-up(md){
}
@include media-breakpoint-up(lg){
}
@include media-breakpoint-up(xl){
}
